@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url("https://use.typekit.net/ryk8rph.css"); */

img + em {
    @apply block text-gray-700 text-sm not-italic leading-5;
}

/* h1, h2, h3, h4, h5, h6 {
    font-weight: 600!important;
    @apply font-display;
} */ 

body {
    font-weight: 400!important;
    font-family: 'Lora';
    @apply tracking-wide;
    @apply antialiased;
}
/* 
.prose img, .prose-lg img{
    margin:0!important;
} */

.sans-serif {
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-green {
    @apply text-green-400
}

.featured-img-container img{
    margin:0!important;
}

.prose hr {
    border-color:#000!important;
}

.hr-overflow{
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
}

.required > label::after {
    content: "*";
    color: #f00;
    margin-left: 1px;
}